<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<h3>전체 부서 조회</h3>
		<table>
			<thead>
				<tr>
					<th>부서번호</th>
					<th>부서명</th>
					<th>부서책임자</th>
					<th>근무지</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info,sts : ${depts}">
					<tr>
						<td>[[ ${info.departmentId} ]]</td>
						<td>[[ ${info.departmentName} ]]</td>
						<td>[[ ${info.managerId} ]]</td>
						<td>[[ ${info.locationId} ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	<script>
		const context = $('meta[name="ctxPath"]').attr('value');
		$('tbody > tr').on(
				'click',
				function(e) {
					let trTag = e.currentTarget;
					let did = $(trTag).children().eq(0).text();
					let url = (context == undefined ? '' : context)
							+ '/deptInfo?departmentId=' + did;
					location.href = url;
				});
	</script>
</body>
</html>